@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

html {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}
